{% extends 'base.html' %}
{% block body %}
<div class="container my-3">
    <h3 class="text-center">Select subject whose attendence you want to take</h3>
    <form action="/student/{{collection}}/attendence" method="post">
        <div class="mb-3">
            <select class="form-select border-black" name="subject" aria-label="Default select example">
                <option selected disabled>Subject</option>
                {% for subject in subjects %}
                <option>{{subject}}</option>
                {% endfor %}
                <!-- <option>COA</option>
                <option>DSTL</option>
                <option>TC</option>
                <option>ESE</option>
                <option>CS</option> -->
            </select>
        </div>
        <div class="mb-3">
            <label for="section" class="form-label">Section</label>
            <input type="text" class="form-control border-black" id="section" name="section" value="{{collection}}" readonly>
        </div>
        <!-- <a href="/video_feed" type="submit" class="btn btn-outline-dark">Start</a> -->
        <button class="btn btn-outline-dark" type="submit"><i class="fa-solid fa-play"></i> Start</button>
    </form>
</div>
{% endblock body %}