{% extends 'base.html' %}
{% block body %}
<div class="container bg-cream my-3 rounded-2">
    <table class="table container my-2">
        <thead>
            <tr>
                <th scope="col">Roll No</th>
                <th scope="col">Name</th>
                <th scope="col">Image</th>

                {% for subject in subjects %}
                <th scope="col">{{subject}}</th>
                {% endfor %}
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <th scope="row">{{student["uroll"]}}</th>
                <td>{{student["name"]}}</td>
                <td><img src="{{ url_for('static', filename='img/'+student['image']) }}" class="img-thumbnail"
                        height="100px" width="100px" alt="student photo"></td>

                {% for subject in subjects %}
                    
                <td>{{student["attendence"][subject]}}/{{student["totalAttendence"][subject]}}

                    {% if student["totalAttendence"][subject] == 0 %}
                    <i class="fa-regular fa-circle-check" style="color: #2fb913;"></i>
                    {% else %}

                    {% if (student["attendence"][subject]/student["totalAttendence"][subject]) > 0.75 %}
                    <i class="fa-regular fa-circle-check" style="color: #2fb913;"></i>
                    {% else %}
                    <i class="fa-regular fa-circle-xmark" style="color: #f43201;"></i>
                    {% endif %}

                    {% endif %}
                </td>
                {% endfor %}
                <td><a href="/student/{{collection}}/{{student['uroll']}}/personalData" class="btn btn-outline-dark">View</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="d-inline-flex flex-direction-row">
        <a href="/student/{{collection}}/addstudent" type="button" class="btn btn-outline-dark mx-2"><i class="fa-solid fa-plus"></i> Add Student</a>

        {% if students %}
        <a href="/student/{{collection}}/attendence" type="button" class="btn btn-outline-dark"><i class="fa-regular fa-address-book"></i> Take Attendence</a>
        {% endif %}

    </div>
</div>
{% endblock body %}